<div class="row header-format">
  <div class="col-4"></div>
  <div class="col-4>
    <center>
      <a class="btn-style btn">Create Post</a>
    </center>
  </div>
  <div class="col-4">
    <center>
      <a class="btn-style btn" href="https://cub-forum.herokuapp.com/profile" role="button">
        Profile
      </a>
      <a class="btn-style btn" href="https://cub-forum.herokuapp.com/users/logout" role="button">
        Logout
      </a>
    </center>
  </div>
</div>