<div class="row header-format">
  <div class="col-12">
    <center>
      <a class="btn btn-format btn-style" href="https://cub-forum.herokuapp.com/login" role="button">
        Login
      </a>
      <span class="or">or</span>
      <a class="btn btn-format btn-style" href="https://cub-forum.herokuapp.com/signup" role="button">
        Sign-Up
      </a>
    </center>
  </div>
</div>