<div class="row header-format">
  <div class="col-12">
    <center>
      <a class="btn btn-format btn-style" href="https://cub-forum.herokuapp.com/login" role="button">
        Login / Register
      </a>
    </center>
  </div>
</div>