<nav class="row header-format navbar navbar-fixed-top">
  <div class="col-12">
    <center>
      <a class="btn btn-format btn-style" href="https://cub-forum.herokuapp.com/auth/google" role="button">
        Login / Register
      </a>
    </center>
  </div>
</nav>