<div class="row header-format">
  <div class="col-12">
    <center>
      <a class="btn-format btn btn-warning" href="http://localhost:3000/login" role="button">
        Login
      </a>
      <span class="or">or</span>
      <a class="btn-format btn btn-warning" href="http://localhost:3000/signup" role="button">
        Sign-Up
      </a>
    </center>
  </div>
</div>