.header-format {
  background-color: rgb(48, 48, 48, .8);
  padding: 2%;
}

.btnformat {
  margin-right: .5%;
  margin-left: .5%;
  width: 20%;
  opacity: 1;
}


.or{
  color: white;
}

  a{
    position:relative;
    font-weight:900 !important;
    text-transform:uppercase;
    border-radius:5px;
    font:10px lato;
  }
  
  a:hover{
    opacitY:.7;
  }
